p{
    text-align: center;
    color: white
}

h1 {
    
    color:aqua;
    text-align: center;
}
h2{
    color:aqua;
    text-align: center;
}
h3{
    color:aqua;
    text-align: center;
}
h4{
    color:aqua;
    text-align: center;
    top: 30px;
}

.imagen-tortu {
    flex-direction: column;
    display: flex;
    
    
    left: 400px;
    justify-content: center;
    align-items: center;
   

}

.imagen-Lagart{
 flex-direction: column;
 display: flex;
 
 
 left: 400px;
 justify-content: center;
 align-items: center;


    
}

.imagen-Tijo{
    flex-direction: column;
 display: flex;
 
 
 left: 400px;
 justify-content: center;
 align-items: center;

}

.imagen-Cieg {
    flex-direction: column;
 display: flex;
 
 
 left: 400px;
 justify-content: center;
 align-items: center;

}


.imagen-Lisa{
    flex-direction: column;
 display: flex;
 
 
 left: 400px;
 justify-content: center;
 align-items: center;

}

.imagen-Caiman{
    flex-direction: column;
 display: flex;
 
 
 left: 400px;
 justify-content: center;
 align-items: center;

}